services:
  nuxt:
    container_name: nuxt
    build: .
    volumes:
      - ./frontend:/app:cached
      # - nuxt_node_modules:/app/node_modules
    ports:
      - "80:3000"
      # hot reloadç”¨
      - "24678:24678"
    tty: true
    # environment:
      # - HOST=0.0.0.0
      # - port=80
      # - CHOKIDAR_USEPOLLING=true
#    command: sh -c "yarn && yarn dev"
# volumes:
#   nuxt_node_modules:
